fastapi
openai 
requests
uvicorn
python-dotenv
python-multipart
pandas
matplotlib
numpy
scikit-learn
pandas 
pyarrow 
tabula-py 
Pillow 
beautifulsoup4 
lxml 
httpx 
scikit-learn 
geopy 
networkx 
duckdb-engine 
sqlalchemy 
mysql-connector-python
wikipedia
tabula-py
playwright
beautifulsoup4 
lxml
boto3
pyarrow
